# Node
node_modules/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Env / secrets
.env

# Build / cache
dist/
.cache/

# Android (future)
*.keystore
local.properties
.gradle/

# Wrangler (Cloudflare Workers)
node_modules/
.wrangler/
dist/